#about {
    background: url("../images/ribbon.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #e6f9ff;
}

#about-title {
    text-align: center;
    font-size: 100px;
    margin-bottom: 30px;
}

.about-text {
    font-family: $paragraph-font;
    color: $dark-grey;
    font-size: 25px;
}

.about-img {
    width: 300px;
    border-radius: 50%;
    margin: 20px;
}

#about-img-one {
    float: left;
}

#about-img-two {
    float: right;
}

@media (max-width: 992px) {
    .about-text {
        font-size: 20px;
    }
    .about-img {
        width: 200px;
    }
}

@media (max-width: 780px) {
    .about-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .about-text {
        font-size: 20px;
    }
    .about-img {
        display: none;
    }
    .about-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}
