.navbar-default {
    margin-bottom: 0px;
    background-color: $dark-grey;
    border: none;
    border-radius: 0px;
    .navbar-nav>li>a {
        font-family: $nav-footer-font;
        font-size: 20px;
        font-weight: bold;
        color: $pale-blue;
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            color: $off-white;
        }
    }
    .navbar-nav>.active>a {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            color: $off-white;
        }
    }
    .navbar-brand {
        font-family: $title-header;
        font-weight: 900;
        font-size: 35px;
        color: $pale-blue;
        &:hover {
            color: $off-white;
        }
    }
    .navbar-toggle {
        border: none;
        &:focus, &:hover {
            background-color: rgba(0, 0, 0, 0);
        }
        .icon-bar {
            background-color: $pale-blue;
        }
    }
}
