#projects {
    background-color: $dark-grey;
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .thumb {
        padding: 0px;
        margin: 0px;
        color: $pale-blue;
        :hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .section-header {
        color: $pale-blue;
        text-align: center;
    }
    a {
        color: $bright-blue;
        font-size: 20px;
        margin-bottom: 20px;
    }
    h5 a {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #projects {
        display: none;
    }
}
