#projects {
    background-color: $dark-grey;
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .thumb {
        padding: 0px;
        margin: 0px;
        color: $dark-grey;
        background: $pale-blue;
        .hovering {
            opacity: 0.2;
            cursor: pointer;
        }
        h2 {
            pointer-events: none;
            position: absolute;
            top: 130px;
            display: none;
            font-family: $skills-font;
            font-weight: bolder;
            margin-left: 20px;
            margin-right: 20px;
        }
        .project-img {
            position: relative;
        }

    }

    .section-header {
        color: $pale-blue;
        text-align: center;
    }
    a {
        color: $bright-blue;
        font-size: 20px;
        margin-bottom: 20px;
    }
    h5 a {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #projects {
        display: none;
    }
}
