#title {
    height: 800px;
    background-color: grey;
}

.main-header {
    font-family: $title-header;
    font-size: 200px;
    font-weight: 900;
}

.title-sub {
    font-family: $title-sub;
    font-weight: 900;
}
