$paragraph-font: franklin-gothic-urw, Helvetica, sans-serif;
$title-header: swingdancer, Georgia, serif;
$primary-header: hwt-artz, Helvetica, sans-serif;
$title-sub: reklame-script, Georgia, serif;
$nav-footer-font: proxima-nova-sc-osf, Helvetica, sans-serif;
$light-grey: #d9d9d9;
$dark-grey: #393E46;
$mid-dark-grey: #333333;
$mid-grey: #737373;
$almost-white: #e6f9ff;
$off-white: #ccf3ff;
$pale-blue: #99e6ff;
$bright-blue: #1ac6ff;
$dark-blue:#5585B5;
