<!DOCTYPE html>
    <head>
        <title>Diana Ruth</title>
        <script src="https://use.typekit.net/ogu5oxf.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="projects">
        <div class="loader flex-container">
            <img class="loader-spin" src="images/loader.svg" alt="Loading...">
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">dianaruth</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="navbar-about"><a href="#about">About</a></li>
                        <li id="navbar-projects"><a href="#projects">Projects</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li id="navbar-contact"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="title">
            <h1 id="main-header">Diana Ruth</h1>
            <h2 class="title-sub">Software Engineering Student</h2>
            <h2 class="title-sub">Aspiring Web Developer</h2>
            <h2 class="title-sub">Texas Longhorn</h2>
        </section>
        <section id="about">
            <div class="container flex-container-col">
                <h1 class="section-header">About Me</h1>
                <div class="row about-container">
                    <img src="../images/horse.jpg" alt="Deacon and I" id="about-img-one" class="about-img">
                    <p class="about-text">
                        Hello! My name is Diana Ruth and I'm a fifth year student at The University of Texas at Austin. I am a double major in Electrical Engineering and Computer Science graduating in May 2017. I love everything about my majors and I'm incredibly excited to make the move to full-time work this summer. During my time at UT, I was a member of Theta Tau, a national co-ed professional engineering fraternity, and I was the president of the Texas Equestrian Team. In my free time, you can find me knitting, biking, cooking, or spending time at the barn.
                    </p>
                    <img src="../images/mountain.jpg" alt="Guadalupe Peak" id="about-img-two" class="about-img">
                    <p class="about-text">
                        Since I'm studying both electrical engineering and computer science, I've been exposed to a large variety of concepts that has provided me with a well-rounded understanding of software engineering. I've taken classes on circuits, logic design, operating systems and more, but my true passion lies in web design and development. I love learning new languages and frameworks in my spare time to further develop my software development skills, and I'm hoping to pursue a career that allows me use the newest technologies to solve all types of problems.
                    </p>
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="container">
                <h1 class="section-header">Skills</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h2 class="skills-header">Proficient</h2>
                        <div class="skills-list">
                            <p><i class="fa fa-coffee" aria-hidden="true"></i> Java</p>
                            <p><i class="fa fa-flask" aria-hidden="true"></i> Python</p>
                            <p><i class="fa fa-circle-o" aria-hidden="true"></i> C</p>
                            <p><i class="fa fa-plus" aria-hidden="true"></i> C++</p>
                            <p><i class="fa fa-code" aria-hidden="true"></i> HTML</p>
                            <p><i class="fa fa-file-image-o" aria-hidden="true"></i> CSS</p>
                            <p><i class="fa fa-play" aria-hidden="true"></i> JavaScript</p>
                            <p><i class="fa fa-google" aria-hidden="true"></i> AngularJS</p>
                            <p><i class="fa fa-asterisk" aria-hidden="true"></i> jQuery</p>
                            <p><i class="fa fa-table" aria-hidden="true"></i> PHP</p>
                            <p><i class="fa fa-database" aria-hidden="true"></i> MySQL</p>
                            <p><i class="fa fa-code-fork" aria-hidden="true"></i> Git/GitHub</p>
                            <p><i class="fa fa-twitter" aria-hidden="true"></i> Bootstrap</p>
                            <p><i class="fa fa-heart" aria-hidden="true"></i> Sass</p>
                            <p><i class="fa fa-mobile" aria-hidden="true"></i> iOS (Swift)</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h2 class="skills-header">Familiar</h2>
                        <div class="skills-list">
                            <p><i class="fa fa-linux" aria-hidden="true"></i> Unix/Linux</p>
                            <p><i class="fa fa-server" aria-hidden="true"></i> Grunt</p>
                            <p><i class="fa fa-terminal" aria-hidden="true"></i> Node.js</p>
                            <p><i class="fa fa-file-code-o" aria-hidden="true"></i> Haskell</p>
                            <p><i class="fa fa-gamepad" aria-hidden="true"></i> Unity</p>
                            <p><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Adobe Illustrator</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects" ng-controller="ModalsController">
            <div class="row">
                <h1 class="section-header">Projects</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="project in projects" ng-click="openModal(project.id);" ng-mouseover="showTitle($event.target);" ng-mouseout="removeTitle($event.target);">
                    <img class="img-responsive project-img" ng-src="images/thumbs/{{project.thumb}}" alt="">
                    <h2>{{project.name}}</h2>
                </div>
            </div>

            <div class="modal modal-fullscreen fade" id="{{project.id}}" tabindex="-1" role="dialog" aria-hidden="true" ng-repeat="project in projects">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close close-btn" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                            <h1 class="modal-title">{{project.name}}</h1>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h5>Platform</h5>
                                    <h6>{{project.platform}}</h6>
                                    <h5>Completion Date</h5>
                                    <h6>{{project.completion}}</h6>
                                    <h5>Number of Contributors</h5>
                                    <h6>{{project.num_contributors}}</h6>
                                    <h5>Role</h5>
                                    <h6>{{project.role}}</h6>
                                    <h5>Description</h5>
                                    <h6>{{project.description}}</h6>
                                    <h5>Source Code</h5>
                                    <a href="{{project.source_link}}" target="_blank">{{project.source_link}}</a>
                                    <br>
                                    <br>
                                    <h5><a href="{{project.link}}" target="_blank" ng-if="project.link">Click to View Project</a></h5>
                                    <br>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <img ng-src="images/{{photo}}" ng-repeat="photo in project.images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="contact-form">
                            <h1 class="section-header">Give Me a Shout!</h1>
                            <form method="POST" action="http://formspree.io/hello@dianaruth.me">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Your email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <h2>&copy; 2016-2017 Diana Ruth</h2>
            <div class="footer-flex-container">
                <a href="https://www.facebook.com/diana.ruth.16"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                <a href="https://github.com/dianaruth"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCDv_zt5mQC0mGGY-8wS9YxA"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/diana-ruth-baba3981"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                <a href="mailto:hello@dianaruth.me"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
